# Packages

In [1]:
import pandas as pd
import numpy as np
import os
import folium

import keras

import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.ticker as ticker
from matplotlib.ticker import PercentFormatter

pd.options.display.max_columns = None
pd.options.display.max_rows = None

Using TensorFlow backend.

In [2]:
from lib_Map import plot_map
from lib_Dummies import Master_dummies
from lib_NNT import NNTRegressor
from lib_Tiempo import tiempo
from lib_Temperatura import temperatura
from lib_Presion import Presion
from lib_Viento import Viento
from lib_Densidad import densidad

# Load data

In [3]:
Data_train = pd.read_excel("./csv/Modelo de Consumo Predictivo.xlsx", sheet_name = "Data")
print(Data_train.shape)
Data_test = pd.read_excel("./csv/Modelo de Consumo Predictivo.xlsx", sheet_name = "Eval")
print(Data_test.shape)

(440806, 10)
(148931, 9)

In [4]:
Data_train.columns

Index(['ID', 'ARTICULO', 'FECHA', 'CENTROCONSUMO', 'UBICACIONVIRTUAL',
       'ID_ORGANOGESTOR', 'DESC_PROVINCIA', 'FECHACADUCIDADEXISTENCIAS',
       'IMPORTESALIDA', 'CANTIDADSALIDA'],
      dtype='object')

In [5]:
Data_test.columns

Index(['ID', 'ARTICULO', 'FECHA', 'CENTROCONSUMO', 'UBICACIONVIRTUAL',
       'ID_ORGANOGESTOR', 'DESC_PROVINCIA', 'FECHACADUCIDADEXISTENCIAS',
       'IMPORTESALIDA'],
      dtype='object')

# Data Engineer

## Creación variables año, mes y día:

### Train:

In [6]:
Data_train['Año'] = [i.year for i in Data_train['FECHA']]
Data_train['Mes'] = [i.month for i in Data_train['FECHA']]
Data_train['Dia'] = [i.day for i in Data_train['FECHA']]

### Train:

In [7]:
Data_test['Año'] = [i.year for i in Data_test['FECHA']]
Data_test['Mes'] = [i.month for i in Data_test['FECHA']]
Data_test['Dia'] = [i.day for i in Data_test['FECHA']]

In [8]:
Data_train['Año'].unique().tolist()

[2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]

## Conversión a datos mensuales:

In [9]:
del Data_train['ID'], Data_train['FECHA'], Data_train['FECHACADUCIDADEXISTENCIAS'], Data_train['Dia']

In [10]:
Data_train.head()

,ARTICULO,CENTROCONSUMO,UBICACIONVIRTUAL,ID_ORGANOGESTOR,DESC_PROVINCIA,IMPORTESALIDA,CANTIDADSALIDA,Año,Mes
0,-1073438649,17414,1525,3920000000000360380,Córdoba,0.5292,12.0,2008,1
1,-1073438649,17414,1525,3920000000000360380,Córdoba,1.3230,30.0,2008,1
2,-1073438649,17416,1527,3920000000000360380,Córdoba,-0.1323,-3.0,2008,1
3,-1073438649,17416,1527,3920000000000360380,Córdoba,-0.1323,-3.0,2008,1
4,-1073438649,17414,1525,3920000000000360380,Córdoba,0.1323,3.0,2008,1

### Train:

In [11]:
Data_train_mensual = (Data_train.groupby(('ARTICULO', 'CENTROCONSUMO', 'DESC_PROVINCIA',  'Año', 'Mes')) # Agrupar
          .CANTIDADSALIDA    # Quedarse con la columna CANTIDADSALIDA
          .apply(sum)       # Calcular su suma
          .reset_index())   # Deshacer índice jerárquico

C:\Users\victo\Anaconda3\envs\baseFSA\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  """Entry point for launching an IPython kernel.

In [12]:
Data_train_mensual.head()

     ARTICULO  CENTROCONSUMO DESC_PROVINCIA   Año  Mes  CANTIDADSALIDA
0 -1073449806           1021        Granada  2012    3             2.0
1 -1073449806           9517        Granada  2012    1             2.0
2 -1073449806           9517        Granada  2012    4             2.0
3 -1073449806           9517        Granada  2012    5             1.0
4 -1073449806           9538        Granada  2012    1           -20.0

### Test

In [13]:
Data_test_mensual =  Data_test[['ARTICULO', 'CENTROCONSUMO', 'DESC_PROVINCIA', 'Año', 'Mes']]
Data_test_mensual.drop_duplicates(keep='first',inplace=True)

C:\Users\victo\Anaconda3\envs\baseFSA\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## Deficiencias

In [14]:
len(Data_train_mensual['ARTICULO'].unique().tolist())

20

In [15]:
len(Data_test_mensual['ARTICULO'].unique().tolist())

11

In [16]:
l=[]
for i in Data_test_mensual['ARTICULO'].unique().tolist():
    if i not in Data_train_mensual['ARTICULO'].unique().tolist():
        l.append(i)
len(l)

1

## Sort values and saving as csv

In [17]:
Data_train_mensual = Data_train_mensual.sort_values(['Año', 'Mes', 'CENTROCONSUMO' ])
print(Data_train_mensual.shape)
Data_train_mensual.to_csv('./csv/clean.csv')

(67688, 6)

In [18]:
Data_train_mensual.head()

        ARTICULO  CENTROCONSUMO DESC_PROVINCIA   Año  Mes  CANTIDADSALIDA
3410 -1073438649          17405        Córdoba  2008    1             8.0
3416 -1073438649          17407        Córdoba  2008    1            40.0
3421 -1073438649          17409        Córdoba  2008    1            40.0
3430 -1073438649          17414        Córdoba  2008    1           293.0
3471 -1073438649          17415        Córdoba  2008    1            59.0

In [19]:
Data_train_mensual.head()

        ARTICULO  CENTROCONSUMO DESC_PROVINCIA   Año  Mes  CANTIDADSALIDA
3410 -1073438649          17405        Córdoba  2008    1             8.0
3416 -1073438649          17407        Córdoba  2008    1            40.0
3421 -1073438649          17409        Córdoba  2008    1            40.0
3430 -1073438649          17414        Córdoba  2008    1           293.0
3471 -1073438649          17415        Córdoba  2008    1            59.0

## Nuevas variables

### Horas de Sol y precipitaciones:

In [20]:
# Identfy the file location of the master dataset
I_data_path = './csv/clean.csv' 

# Define file name of output .csv file
I_out_filename = 'clean_lluvia'
I_data_tiempo = './csv/lluvia/'

pd_tiempo, Data_train_lluvia = tiempo(I_data_path, I_out_filename, I_data_tiempo)

(67688, 6)
Saving dataset to ./csv/clean_lluvia.csv

In [21]:
pd_tiempo.shape

(960, 6)

In [22]:
Data_train_lluvia.head()

,ARTICULO,CENTROCONSUMO,DESC_PROVINCIA,Año,Mes,CANTIDADSALIDA,Horas_Sol,Precipitacion
0,-1073438649,17405,Córdoba,2008,1,8.0,171.5,70.0
1,-1073438649,17407,Córdoba,2008,1,40.0,171.5,70.0
2,-1073438649,17409,Córdoba,2008,1,40.0,171.5,70.0
3,-1073438649,17414,Córdoba,2008,1,293.0,171.5,70.0
4,-1073438649,17415,Córdoba,2008,1,59.0,171.5,70.0

### Temperatura

In [23]:
# Identfy the file location of the master dataset
I_data_path = './csv/clean_lluvia.csv' 

# Define file name of output .csv file
I_out_filename = 'clean_temperatura'
I_data_tiempo = './csv/Temperatura/'

pd_temp, Data_train_temp = temperatura(I_data_path, I_out_filename, I_data_tiempo)

(67688, 8)
Saving dataset to ./csv/clean_temperatura.csv

In [24]:
pd_temp

    Provincia   Año  Mes   Temp_Max      Key_merge   Temp_Min
0     Almería  2008    1  17.570968   Almería20081   9.225806
1     Almería  2008    2  17.975862   Almería20082  11.241379
2     Almería  2008    3  19.587097   Almería20083  11.132258
3     Almería  2008    4  21.783333   Almería20084  13.463333
4     Almería  2008    5  22.248387   Almería20085  15.387097
5     Almería  2008    6  27.146667   Almería20086  19.313333
6     Almería  2008    7  29.654839   Almería20087  22.670968
7     Almería  2008    8  31.041935   Almería20088  23.567742
8     Almería  2008    9  27.383333   Almería20089  20.516667
9     Almería  2008   10  24.164516  Almería200810  17.103226
10    Almería  2008   11  18.676667  Almería200811  10.583333
11    Almería  2008   12  16.203226  Almería200812   8.383871
12    Almería  2009    1  15.445161   Almería20091   8.361290
13    Almería  2009    2  16.435714   Almería20092   8.371429
14    Almería  2009    3  19.764516   Almería20093  10.600000
15    Almería  2009    4  19.950000   Almería20094  12.173333
16    Almería  2009    5  24.725806   Almería20095  16.361290
17    Almería  2009    6  27.373333   Almería20096  19.716667
18    Almería  2009    7  29.529032   Almería20097  22.374194
19    Almería  2009    8  32.174194   Almería20098  23.812903
20    Almería  2009    9  27.810000   Almería20099  20.213333
21    Almería  2009   10  25.138710  Almería200910  17.522581
22    Almería  2009   11  21.720000  Almería200911  13.860000
23    Almería  2009   12  17.545161  Almería200912  10.183871
24    Almería  2010    1  16.070968   Almería20101   8.896774
25    Almería  2010    2  16.617857   Almería20102   9.910714
26    Almería  2010    3  17.746667   Almería20103  10.130000
27    Almería  2010    4  21.560000   Almería20104  13.320000
28    Almería  2010    5  23.803226   Almería20105  15.161290
29    Almería  2010    6  26.867857   Almería20106  18.803571
30    Almería  2010    7  31.696774   Almería20107  23.445161
31    Almería  2010    8  31.713333   Almería20108  24.016667
32    Almería  2010    9  28.846429   Almería20109  20.550000
33    Almería  2010   10  23.877419  Almería201010  15.809677
34    Almería  2010   11  19.030000  Almería201011  11.523333
35    Almería  2010   12  17.563333  Almería201012   9.703333
36    Almería  2011    1  16.457143   Almería20111   9.339286
37    Almería  2011    2  17.034615   Almería20112   8.673077
38    Almería  2011    3  18.303333   Almería20113  10.563333
39    Almería  2011    4  23.116667   Almería20114  14.516667
40    Almería  2011    5  25.016129   Almería20115  16.858065
41    Almería  2011    6  26.723333   Almería20116  19.540000
42    Almería  2011    7  29.087097   Almería20117  21.919355
43    Almería  2011    8  30.906452   Almería20118  23.364516
44    Almería  2011    9  28.306667   Almería20119  20.433333
45    Almería  2011   10  25.232258  Almería201110  16.874194
46    Almería  2011   11  20.403333  Almería201111  13.153333
47    Almería  2011   12  17.803226  Almería201112   8.945161
48    Almería  2012    1  16.551613   Almería20121   7.816129
49    Almería  2012    2  15.517241   Almería20122   5.958621
50    Almería  2012    3  19.106452   Almería20123   9.783871
51    Almería  2012    4  19.516667   Almería20124  11.703333
52    Almería  2012    5  24.654839   Almería20125  16.161290
53    Almería  2012    6  27.933333   Almería20126  20.273333
54    Almería  2012    7  29.538710   Almería20127  22.093548
55    Almería  2012    8  30.022581   Almería20128  23.335484
56    Almería  2012    9  27.150000   Almería20129  20.106667
57    Almería  2012   10  22.555172  Almería201210  16.065517
58    Almería  2012   11  19.368966  Almería201211  13.331034
59    Almería  2012   12  17.483871  Almería201212   9.548387
60    Almería  2013    1  17.522581   Almería20131   9.000000
61    Almería  2013    2  16.675000   Almería20132   8.314286
62    Almería  2013    3  18.183871   Almería20133  11.287097
63    Almería  2013    4  20.160000   Almería20134  12.750000
64    Almería  2013    5  21.787097   Almería20135  14.674194
65    Almería  2013    6  26.189655   Almería20136  18.234483
66    Almería  2013    7  30.877419   Almería20137  22.316129
67    Almería  2013    8  32.219355   Almería20138  23.832258
68    Almería  2013    9  29.336667   Almería20139  21.163333
69    Almería  2013   10  25.874194  Almería201310  17.990323
70    Almería  2013   11  19.946667  Almería201311  11.380000
71    Almería  2013   12  18.151613  Almería201312   9.848387
72    Almería  2014    1  17.806452   Almería20141  10.151613
73    Almería  2014    2  17.485714   Almería20142   9.989286
74    Almería  2014    3  19.948387   Almería20143  11.432258
75    Almería  2014    4  22.706667   Almería20144  14.456667
76    Almería  2014    5  24.448387   Almería20145  16.500000
77    Almería  2014    6  27.637931   Almería20146  19.482143
78    Almería  2014    7  29.551613   Almería20147  21.906452
79    Almería  2014    8  30.506452   Almería20148  23.296774
80    Almería  2014    9  28.873333   Almería20149  21.350000
81    Almería  2014   10  26.712903  Almería201410  18.322581
82    Almería  2014   11  21.296667  Almería201411  14.146667
83    Almería  2014   12  18.216129  Almería201412   9.725806
84    Almería  2015    1  17.545161   Almería20151   8.609677
85    Almería  2015    2  17.171429   Almería20152   9.825000
86    Almería  2015    3  18.432258   Almería20153  10.580645
87    Almería  2015    4  21.300000   Almería20154  14.500000
88    Almería  2015    5  25.841935   Almería20155  16.867742
89    Almería  2015    6  29.943333   Almería20156  19.316667
90    Almería  2015    7  32.741935   Almería20157  24.590323
91    Almería  2015    8  32.358065   Almería20158  24.241935
92    Almería  2015    9  27.766667   Almería20159  19.666667
93    Almería  2015   10  25.064516  Almería201510  17.077419
94    Almería  2015   11  22.000000  Almería201511  12.606667
95    Almería  2015   12  19.793548  Almería201512  10.445161
96    Almería  2016    1  18.286667   Almería20161   9.456667
97    Almería  2016    2  18.289655   Almería20162   9.906897
98    Almería  2016    3  18.451613   Almería20163   9.903226
99    Almería  2016    4  20.703333   Almería20164  13.020000
100   Almería  2016    5  23.616129   Almería20165  15.177419
101   Almería  2016    6  27.203333   Almería20166  18.923333
102   Almería  2016    7  32.470968   Almería20167  23.361290
103   Almería  2016    8  32.090323   Almería20168  23.348387
104   Almería  2016    9  29.926667   Almería20169  21.356667
105   Almería  2016   10  26.241935  Almería201610  18.464516
106   Almería  2016   11  20.270000  Almería201611  12.796667
107   Almería  2016   12  18.229032  Almería201612  11.109677
108   Almería  2017    1  16.738710   Almería20171   8.316129
109   Almería  2017    2  19.067857   Almería20172  11.192857
110   Almería  2017    3  19.774194   Almería20173  10.941935
111   Almería  2017    4  22.130000   Almería20174  12.986667
112   Almería  2017    5  26.722581   Almería20175  16.774194
113   Almería  2017    6  30.526667   Almería20176  21.206667
114   Almería  2017    7  31.038710   Almería20177  22.441935
115   Almería  2017    8  31.919355   Almería20178  23.687097
116   Almería  2017    9  28.756667   Almería20179  20.376667
117   Almería  2017   10  26.864516  Almería201710  17.506452
118   Almería  2017   11  20.810000  Almería201711  11.723333
119   Almería  2017   12  17.722581  Almería201712   8.164516
120     Cádiz  2008    1  17.370968     Cádiz20081  10.906667
121     Cádiz  2008    2  17.879310     Cádiz20082  12.937931
122     Cádiz  2008    3  18.838710     Cádiz20083  11.922581
123     Cádiz  2008    4  21.106667     Cádiz20084  14.346667
124     Cádiz  2008    5  20.874194     Cádiz20085  15.822581
125     Cádiz  2008    6  26.630000     Cádiz20086  19.923333
126     Cádiz  2008    7  27.251613     Cádiz20087  21.212903
127     Cádiz  2008    8  26.803226     Cádiz20088  21.361290
128     Cádiz  2008    9  25.563333     Cádiz20089  19.760000
129     Cádiz  2008   10  23.025806    Cádiz200810  16.332258
130     Cádiz  2008   11  18.406667    Cádiz200811  11.070000
131     Cádiz  2008   12  15.429032    Cádiz200812  10.009677
132     Cádiz  2009    1  14.835484     Cádiz20091   9.325806
133     Cádiz  2009    2  16.475000     Cádiz20092  10.850000
134     Cádiz  2009    3  19.090323     Cádiz20093  12.941935
135     Cádiz  2009    4  18.970000     Cádiz20094  13.293333
136     Cádiz  2009    5  22.364516     Cádiz20095  16.712903
137     Cádiz  2009    6  25.753333     Cádiz20096  20.293333
138     Cádiz  2009    7  27.348387     Cádiz20097  21.332258
139     Cádiz  2009    8  29.441935     Cádiz20098  23.006452
140     Cádiz  2009    9  26.330000     Cádiz20099  20.876667
141     Cádiz  2009   10  25.611111    Cádiz200910  18.974074
142     Cádiz  2009   11  20.217647    Cádiz200911  14.170588
143     Cádiz  2009   12  17.577778    Cádiz200912  10.792593
144     Cádiz  2010    1  15.307692     Cádiz20101  10.623077
145     Cádiz  2010    2  17.035714     Cádiz20102  11.664286
146     Cádiz  2010    3  18.583871     Cádiz20103  12.522581
147     Cádiz  2010    4  21.665517     Cádiz20104  15.527586
148     Cádiz  2010    5  24.387500     Cádiz20105  17.937500
149     Cádiz  2010    8  31.427586     Cádiz20108  24.065517
150     Cádiz  2010    9  28.280769     Cádiz20109  21.369231
151     Cádiz  2011    1  15.538889     Cádiz20111  10.044444
152     Cádiz  2011    2  18.514286     Cádiz20112  11.771429
153     Cádiz  2011    4  21.978261     Cádiz20114  15.865217
154     Cádiz  2011    5  27.550000     Cádiz20115  20.087500
155     Cádiz  2011    6  27.600000     Cádiz20116  19.700000
156     Cádiz  2011    7  28.118519     Cádiz20117  21.385185
157     Cádiz  2011    8  28.563158     Cádiz20118  22.263158
158     Cádiz  2011   12  16.700000    Cádiz201112   9.776667
159     Cádiz  2012    1  16.733333     Cádiz20121   8.623333
160     Cádiz  2012    2  15.210345     Cádiz20122   6.568966
161     Cádiz  2012    3  18.796667     Cádiz20123  12.300000
162     Cádiz  2012    4  18.270000     Cádiz20124  13.420000
163     Cádiz  2012    5  25.045161     Cádiz20125  17.667742
164     Cádiz  2012    6  26.096296     Cádiz20126  20.234615
165     Cádiz  2012    7  27.164516     Cádiz20127  20.964516
166     Cádiz  2012    8  28.590323     Cádiz20128  22.154839
167     Cádiz  2012    9  26.473333     Cádiz20129  20.970000
168     Cádiz  2012   10  23.303226    Cádiz201210  17.535484
169     Cádiz  2012   11  18.796667    Cádiz201211  14.146667
170     Cádiz  2012   12  16.987097    Cádiz201212  11.116129
171     Cádiz  2013    1  16.370968     Cádiz20131  10.793548
172     Cádiz  2013    2  15.550000     Cádiz20132   9.464286
173     Cádiz  2013    3  17.300000     Cádiz20133  12.725806
174     Cádiz  2013    4  20.460000     Cádiz20134  14.266667
175     Cádiz  2013    5  22.058065     Cádiz20135  15.796774
176     Cádiz  2013    6  25.150000     Cádiz20136  18.850000
177     Cádiz  2013    7  27.809677     Cádiz20137  21.719355
178     Cádiz  2013    8  29.854839     Cádiz20138  23.012903
179     Cádiz  2013    9  26.930000     Cádiz20139  21.790000
180     Cádiz  2013   10  24.409677    Cádiz201310  18.761290
181     Cádiz  2013   11  18.489655    Cádiz201311  11.631034
182     Cádiz  2013   12  16.603226    Cádiz201312  10.187097
183     Cádiz  2014    1  15.938710     Cádiz20141  11.461290
184     Cádiz  2014    2  15.432143     Cádiz20142  10.750000
185     Cádiz  2014    3  17.696774     Cádiz20143  12.025806
186     Cádiz  2014    4  21.073333     Cádiz20144  15.200000
187     Cádiz  2014    5  23.538710     Cádiz20145  17.077419
188     Cádiz  2014    6  24.820000     Cádiz20146  19.356667
189     Cádiz  2014    7  26.216129     Cádiz20147  20.451613
190     Cádiz  2014    8  26.674194     Cádiz20148  21.029032
191     Cádiz  2014    9  25.676667     Cádiz20149  20.706667
192     Cádiz  2014   10  25.183871    Cádiz201410  19.012903
193     Cádiz  2014   11  19.766667    Cádiz201411  14.760000
194     Cádiz  2014   12  15.470968    Cádiz201412   9.529032
195     Cádiz  2015    1  15.377419     Cádiz20151   8.632258
196     Cádiz  2015    2  14.964286     Cádiz20152   9.492857
197     Cádiz  2015    3  17.974194     Cádiz20153  11.622581
198     Cádiz  2015    4  20.273333     Cádiz20154  14.676667
199     Cádiz  2015    5  25.741935     Cádiz20155  18.054839
200     Cádiz  2015    6  26.523333     Cádiz20156  20.333333
201     Cádiz  2015    7  28.993548     Cádiz20157  22.796774
202     Cádiz  2015    8  27.303226     Cádiz20158  21.812903
203     Cádiz  2015    9  24.923333     Cádiz20159  19.586667
204     Cádiz  2015   10  23.035484    Cádiz201510  17.935484
205     Cádiz  2015   11  20.873333    Cádiz201511  14.073333
206     Cádiz  2015   12  19.287097    Cádiz201512  13.119355
207     Cádiz  2016    1  17.374194     Cádiz20161  12.187097
208     Cádiz  2016    2  16.637931     Cádiz20162  11.575862
209     Cádiz  2016    3  17.109677     Cádiz20163  11.074194
210     Cádiz  2016    4  19.503333     Cádiz20164  14.110000
211     Cádiz  2016    5  22.441935     Cádiz20165  16.441935
212     Cádiz  2016    6  26.416667     Cádiz20166  19.800000
213     Cádiz  2016    7  28.974194     Cádiz20167  22.803226
214     Cádiz  2016    8  29.453571     Cádiz20168  23.650000
215     Cádiz  2016    9  27.573333     Cádiz20169  21.160000
216     Cádiz  2016   10  24.187097    Cádiz201610  18.780645
217     Cádiz  2016   11  19.250000    Cádiz201611  13.133333
218     Cádiz  2016   12  17.938710    Cádiz201612  12.158065
219     Cádiz  2017    1  15.890323     Cádiz20171   8.590323
220     Cádiz  2017    2  17.064286     Cádiz20172  12.360714
221     Cádiz  2017    3  19.067742     Cádiz20173  12.887097
222     Cádiz  2017    4  21.423333     Cádiz20174  15.246667
223     Cádiz  2017    5  24.393548     Cádiz20175  17.912903
224     Cádiz  2017    6  28.306667     Cádiz20176  21.650000
225     Cádiz  2017    7  27.938710     Cádiz20177  22.061290
226     Cádiz  2017    8  29.480645     Cádiz20178  22.816129
227     Cádiz  2017    9  27.503333     Cádiz20179  20.936667
228     Cádiz  2017   10  26.583333    Cádiz201710  19.766667
229     Cádiz  2017   11  20.640000    Cádiz201711  13.500000
230     Cádiz  2017   12  16.558065    Cádiz201712   9.806452
231   Córdoba  2008    1  16.938710   Córdoba20081   5.119355
232   Córdoba  2008    2  19.662069   Córdoba20082   7.410345
233   Córdoba  2008    3  21.870968   Córdoba20083   6.251613
234   Córdoba  2008    4  24.330000   Córdoba20084   9.540000
235   Córdoba  2008    5  25.158065   Córdoba20085  13.025806
236   Córdoba  2008    6  34.023333   Córdoba20086  16.336667
237   Córdoba  2008    7  36.548387   Córdoba20087  18.687097
238   Córdoba  2008    8  36.848387   Córdoba20088  19.303226
239   Córdoba  2008    9  29.970000   Córdoba20089  16.956667
240   Córdoba  2008   10  24.751613  Córdoba200810  13.038710
241   Córdoba  2008   11  17.886667  Córdoba200811   5.060000
242   Córdoba  2008   12  13.896667  Córdoba200812   3.693333
243   Córdoba  2009    1  13.822581   Córdoba20091   4.290323
244   Córdoba  2009    2  17.550000   Córdoba20092   4.892857
245   Córdoba  2009    3  21.577419   Córdoba20093   7.783871
246   Córdoba  2009    4  22.603333   Córdoba20094   8.446667
247   Córdoba  2009    5  29.909677   Córdoba20095  11.977419
248   Córdoba  2009    6  34.236667   Córdoba20096  17.883333
249   Córdoba  2009    7  37.787097   Córdoba20097  18.996774
250   Córdoba  2009    8  38.009677   Córdoba20098  20.270968
251   Córdoba  2009    9  30.996667   Córdoba20099  17.506667
252   Córdoba  2009   10  29.087097  Córdoba200910  14.241935
253   Córdoba  2009   11  21.968966  Córdoba200911   8.279310
254   Córdoba  2009   12  15.093548  Córdoba200912   5.987097
255   Córdoba  2010    1  14.012903   Córdoba20101   5.977419
256   Córdoba  2010    2  15.485714   Córdoba20102   7.135714
257   Córdoba  2010    3  18.741935   Córdoba20103   7.912903
258   Córdoba  2010    4  24.373333   Córdoba20104  11.060000
259   Córdoba  2010    5  27.106452   Córdoba20105  12.096774
260   Córdoba  2010    6  31.073333   Córdoba20106  16.616667
261   Córdoba  2010    7  37.986667   Córdoba20107  20.616667
262   Córdoba  2010    8  37.561290   Córdoba20108  21.177419
263   Córdoba  2010    9  31.633333   Córdoba20109  17.793333
264   Córdoba  2010   10  24.009677  Córdoba201010  11.693548
265   Córdoba  2010   11  16.283333  Córdoba201011   7.550000
266   Córdoba  2010   12  14.303571  Córdoba201012   7.603571
267   Córdoba  2011    1  14.148387   Córdoba20111   6.096774
268   Córdoba  2011    2  16.932143   Córdoba20112   4.725000
269   Córdoba  2011    3  18.993548   Córdoba20113   8.519355
270   Córdoba  2011    4  25.435714   Córdoba20114  12.139286
271   Córdoba  2011    5  28.174194   Córdoba20115  15.503226
272   Córdoba  2011    6  33.333333   Córdoba20116  17.473333
273   Córdoba  2011    7  35.190323   Córdoba20117  19.809677
274   Córdoba  2011    8  35.729032   Córdoba20118  20.600000
275   Córdoba  2011    9  32.183333   Córdoba20119  17.410000
276   Córdoba  2011   10  28.393548  Córdoba201110  13.425806
277   Córdoba  2011   11  18.806667  Córdoba201111   9.056667
278   Córdoba  2011   12  16.238710  Córdoba201112   3.703226
279   Córdoba  2012    1  16.393548   Córdoba20121   1.593548
280   Córdoba  2012    2  17.058621   Córdoba20122  -0.893103
281   Córdoba  2012    3  22.576667   Córdoba20123   5.866667
282   Córdoba  2012    4  21.516667   Córdoba20124   9.610000
283   Córdoba  2012    5  30.293548   Córdoba20125  14.145161
284   Córdoba  2012    6  35.363333   Córdoba20126  18.433333
285   Córdoba  2012    7  37.267742   Córdoba20127  19.138710
286   Córdoba  2012    8  38.496774   Córdoba20128  20.361290
287   Córdoba  2012    9  32.132143   Córdoba20129  17.417857
288   Córdoba  2012   10  25.051613  Córdoba201210  13.696774
289   Córdoba  2012   11  18.806897  Córdoba201211  10.031034
290   Córdoba  2012   12  15.766667  Córdoba201212   6.403704
291   Córdoba  2013    1  15.006452   Córdoba20131   4.764516
292   Córdoba  2013    2  15.792857   Córdoba20132   3.982143
293   Córdoba  2013    3  17.445161   Córdoba20133   8.896774
294   Córdoba  2013    4  23.330000   Córdoba20134  10.413333
295   Córdoba  2013    5  27.016129   Córdoba20135  11.196774
296   Córdoba  2013    6  32.963333   Córdoba20136  14.983333
297   Córdoba  2013    7  37.241935   Córdoba20137  18.787097
298   Córdoba  2013    8  37.687097   Córdoba20138  19.248387
299   Córdoba  2013    9  32.460000   Córdoba20139  17.776667
300   Córdoba  2013   10  27.367742  Córdoba201310  13.538710
301   Córdoba  2013   11  19.153333  Córdoba201311   4.350000
302   Córdoba  2013   12  16.529032  Córdoba201312   2.354839
303   Córdoba  2014    1  15.222581   Córdoba20141   5.606452
304   Córdoba  2014    2  15.550000   Córdoba20142   5.825000
305   Córdoba  2014    3  20.800000   Córdoba20143   6.190000
306   Córdoba  2014    4  25.363333   Córdoba20144  10.693333
307   Córdoba  2014    5  30.645161   Córdoba20145  11.654839
308   Córdoba  2014    6  33.103333   Córdoba20146  15.886667
309   Córdoba  2014    7  36.145161   Córdoba20147  17.877419
310   Córdoba  2014    8  37.090323   Córdoba20148  17.961290
311   Córdoba  2014    9  31.223333   Córdoba20149  18.310000
312   Córdoba  2014   10  28.083871  Córdoba201410  13.916129
313   Córdoba  2014   11  19.560000  Córdoba201411   9.990000
314   Córdoba  2014   12  15.158065  Córdoba201412   3.161290
315   Córdoba  2015    1  15.603226   Córdoba20151   0.716129
316   Córdoba  2015    2  16.242857   Córdoba20152   3.689286
317   Córdoba  2015    3  22.458065   Córdoba20153   5.380645
318   Córdoba  2015    4  25.556667   Córdoba20154  10.636667
319   Córdoba  2015    5  32.877419   Córdoba20155  13.458065
320   Córdoba  2015    6  35.320000   Córdoba20156  16.823333

In [25]:
Data_train_temp.tail()

,ARTICULO,CENTROCONSUMO,DESC_PROVINCIA,Año,Mes,CANTIDADSALIDA,Horas_Sol,Precipitacion,Temp_Max,Temp_Min
67683,2147471022,365878,Málaga,2015,12,4.0,148.9,0.8,20.461290,11.074194
67684,2147470713,369578,Cádiz,2015,12,10.0,164.5,33.4,19.287097,13.119355
67685,2147470713,372677,Cádiz,2015,12,40.0,164.5,33.4,19.287097,13.119355
67686,2147470713,372977,Sevilla,2015,12,2500.0,199.7,18.6,20.174194,8.300000
67687,2147470713,373592,Cádiz,2015,12,50.0,164.5,33.4,19.287097,13.119355

### Presión:

In [26]:
# Identfy the file location of the master dataset
I_data_path = './csv/clean_temperatura.csv' 

# Define file name of output .csv file
I_out_filename = 'clean_presion'

I_data_Presion = './csv/Presion/'

pd_Presion, Data_train_Presion = Presion(I_data_path, I_out_filename, I_data_Presion)

(67688, 10)
Saving dataset to ./csv/clean_presion.csv

In [27]:
Data_train_Presion.head()

,ARTICULO,CENTROCONSUMO,DESC_PROVINCIA,Año,Mes,CANTIDADSALIDA,Horas_Sol,Precipitacion,Temp_Max,Temp_Min,Presion_Max,Presion_Min
0,-1073438649,17405,Córdoba,2008,1,8.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097
1,-1073438649,17407,Córdoba,2008,1,40.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097
2,-1073438649,17409,Córdoba,2008,1,40.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097
3,-1073438649,17414,Córdoba,2008,1,293.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097
4,-1073438649,17415,Córdoba,2008,1,59.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097

In [28]:
pd_Presion.head()

  Provincia   Año  Mes  Presion_Max     Key_merge  Presion_Min
0   Almería  2008    1  1024.212903  Almería20081  1019.106452
1   Almería  2008    2  1023.762069  Almería20082  1019.468966
2   Almería  2008    3  1016.051613  Almería20083  1010.316129
3   Almería  2008    4  1014.856667  Almería20084  1009.240000
4   Almería  2008    5  1011.254839  Almería20085  1007.219355

### Viento:

In [29]:
# Identfy the file location of the master dataset
I_data_path = './csv/clean_presion.csv' 

# Define file name of output .csv file
I_out_filename = 'clean_viento'

I_data_viento = './csv/Viento/'

pd_viento, Data_train_Viento = Viento(I_data_path, I_out_filename, I_data_viento)

(67688, 12)
Saving dataset to ./csv/clean_viento.csv

In [30]:
pd_viento.head()

  Provincia   Año  Mes  Viento_Max     Key_merge  Viento_Min
0   Almería  2008    1   40.796129  Almería20081   15.143226
1   Almería  2008    2   44.106207  Almería20082   18.496552
2   Almería  2008    3   44.442581  Almería20083   15.642581
3   Almería  2008    4   50.316000  Almería20084   20.700000
4   Almería  2008    5   45.789677  Almería20085   17.941935

In [31]:
Data_train_Viento.head()

,ARTICULO,CENTROCONSUMO,DESC_PROVINCIA,Año,Mes,CANTIDADSALIDA,Horas_Sol,Precipitacion,Temp_Max,Temp_Min,Presion_Max,Presion_Min,Viento_Max,Viento_Min
0,-1073438649,17405,Córdoba,2008,1,8.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097,23.469677,5.098065
1,-1073438649,17407,Córdoba,2008,1,40.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097,23.469677,5.098065
2,-1073438649,17409,Córdoba,2008,1,40.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097,23.469677,5.098065
3,-1073438649,17414,Córdoba,2008,1,293.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097,23.469677,5.098065
4,-1073438649,17415,Córdoba,2008,1,59.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097,23.469677,5.098065

### CENTROCONSUMO_str

In [32]:
Data = Data_train_Viento.copy()
Data['CENTROCONSUMO'] = Data['CENTROCONSUMO'].astype(str)
Data['CENTROCONSUMO_str'] = [i[0:3] for i in Data['CENTROCONSUMO']]
Data.to_csv('./csv/CCStr.csv' )

### Densidad

In [33]:
# Identfy the file location of the master dataset
I_data_path = './csv/CCStr.csv' 

# Define file name of output .csv file
I_out_filename = 'clean_master_Densidad'

I_data_densidad = './csv/Densidad_poblacion/'

Densidad_df, Data_train_Densidad = densidad(I_data_path, I_out_filename, I_data_densidad)

(67688, 15)
Saving dataset to ./csv/clean_master_Densidad.csv

In [34]:
Data_train_Densidad.head()

,ARTICULO,CENTROCONSUMO,DESC_PROVINCIA,Año,Mes,CANTIDADSALIDA,Horas_Sol,Precipitacion,Temp_Max,Temp_Min,Presion_Max,Presion_Min,Viento_Max,Viento_Min,CENTROCONSUMO_str,Densidad: 0-4 años,Densidad: 5-18 años,Densidad: 19-30 años,Densidad: 31-45 años,Densidad: 46-65 años,Densidad: 66-75 años,Densidad: 76> años
0,-1073438649,17405,Córdoba,2008,1,8.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097,23.469677,5.098065,174,42073,123677,134617,185557,178212,66689,61856
1,-1073438649,17407,Córdoba,2008,1,40.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097,23.469677,5.098065,174,42073,123677,134617,185557,178212,66689,61856
2,-1073438649,17409,Córdoba,2008,1,40.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097,23.469677,5.098065,174,42073,123677,134617,185557,178212,66689,61856
3,-1073438649,17414,Córdoba,2008,1,293.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097,23.469677,5.098065,174,42073,123677,134617,185557,178212,66689,61856
4,-1073438649,17415,Córdoba,2008,1,59.0,171.5,70.0,16.93871,5.119355,1016.954839,1011.587097,23.469677,5.098065,174,42073,123677,134617,185557,178212,66689,61856

### Save as csv:

In [35]:
Master = Data_train_Densidad.copy()
Master.to_csv('./csv/Master.csv')

# Limpieza

In [36]:
Master.isnull().sum()

ARTICULO                  0
CENTROCONSUMO             0
DESC_PROVINCIA            0
Año                       0
Mes                       0
CANTIDADSALIDA            0
Horas_Sol                 0
Precipitacion             0
Temp_Max                177
Temp_Min                177
Presion_Max               0
Presion_Min               0
Viento_Max                0
Viento_Min                0
CENTROCONSUMO_str         0
Densidad: 0-4 años        0
Densidad: 5-18 años       0
Densidad: 19-30 años      0
Densidad: 31-45 años      0
Densidad: 46-65 años      0
Densidad: 66-75 años      0
Densidad: 76> años        0
dtype: int64

## Imputación de valores perdidos

### Temp_Max y Temp_Min:

In [37]:
index_empty = Master.loc[Master['Temp_Max'].isnull()].index.tolist()
for i in index_empty:
    A = (Master["CENTROCONSUMO"] == Master["CENTROCONSUMO"][i])
    B = (Master["Mes"] == Master["Mes"][i])
    average_Temp_Max = Master.loc[A & B]['Temp_Max'].mean()
    average_Temp_Max_Tot = Master['Temp_Max'].mean()
    average_Temp_Min = Master.loc[A & B]['Temp_Min'].mean()
    average_Temp_Min_Tot = Master['Temp_Max'].mean()
    if np.isnan(average_Temp_Max):
        Master['Temp_Max'][i] = average_Temp_Max_Tot
        Master['Temp_Min'][i] = average_Temp_Min_Tot
    else:
        Master['Temp_Max'][i] = average_Temp_Max
        Master['Temp_Min'][i] = average_Temp_Min

In [38]:
Master.isnull().sum()

ARTICULO                0
CENTROCONSUMO           0
DESC_PROVINCIA          0
Año                     0
Mes                     0
CANTIDADSALIDA          0
Horas_Sol               0
Precipitacion           0
Temp_Max                0
Temp_Min                0
Presion_Max             0
Presion_Min             0
Viento_Max              0
Viento_Min              0
CENTROCONSUMO_str       0
Densidad: 0-4 años      0
Densidad: 5-18 años     0
Densidad: 19-30 años    0
Densidad: 31-45 años    0
Densidad: 46-65 años    0
Densidad: 66-75 años    0
Densidad: 76> años      0
dtype: int64

## Save as csv

In [39]:
Master.to_csv('./csv/Master_clean.csv')

# Análisis exploratorio

## Mapas:

In [40]:
coord_path = "./csv/listado-longitud-latitud-municipios-espana.xls"
TypeData = Data_train

### Total:

In [41]:
mapas_total = plot_map(coord_path, TypeData, Año = 'Total')

In [42]:
mapas_total[1]

### Por años:

In [43]:
mapas_años = []
for Año in Data_train['Año'].unique().tolist():
    mapas_años.append(plot_map(coord_path, TypeData, Año))

In [44]:
mapas_años[6][0]

# One hot encoding

In [45]:
# Identfy the file location of the master dataset
I_data_path = './csv/Master_clean.csv' 

# Define file name of output .csv file
I_out_filename = 'clean_master_dummies_Big'

# Max number of dummies for each feature allowed (if ones have less that Max, those features will be removed)
Max = float('inf') #to delete this bound

# Function
pd_Master_dummies1 = Master_dummies(I_data_path, I_out_filename, Max)

Dummies features:
  - ARTICULO: 20 new columns
  - CENTROCONSUMO: 2445 new columns
  - DESC_PROVINCIA: 8 new columns
  - Mes: 12 new columns
Adding dummies to dataset...
Completed
Working dataset has: 67688 rows and 2503 columns
Saving dataset to ./csv/clean_master_dummies_Big.csv

In [46]:
# Identfy the file location of the master dataset
I_data_path = './csv/Master_clean.csv' 

# Define file name of output .csv file
I_out_filename = 'clean_master_dummies_Medium'

# Max number of dummies for each feature allowed (if ones have less that Max, those features will be removed)
Max = 2000  

# Function
pd_Master_dummies2 = Master_dummies(I_data_path, I_out_filename, Max)

Dummies features:
  - ARTICULO: 20 new columns
  - CENTROCONSUMO: 2445 new columns
    --> CENTROCONSUMO has been removed
  - Mes: 12 new columns
Adding dummies to dataset...
Completed
Working dataset has: 67688 rows and 58 columns
Saving dataset to ./csv/clean_master_dummies_Medium.csv

In [47]:
# Identfy the file location of the master dataset
I_data_path = './csv/Master_clean.csv' 

# Define file name of output .csv file
I_out_filename = 'clean_master_dummies_shorter'

# Max number of dummies for each feature allowed (if ones have less that Max, those features will be removed)
Max = 50  

# Function
pd_Master_dummies3 = Master_dummies(I_data_path, I_out_filename, Max)

Dummies features:
  - ARTICULO: 20 new columns
  - CENTROCONSUMO: 2445 new columns
    --> CENTROCONSUMO has been removed
  - Mes: 12 new columns
Adding dummies to dataset...
Completed
Working dataset has: 67688 rows and 58 columns
Saving dataset to ./csv/clean_master_dummies_shorter.csv

# Modelo

## Short:

In [48]:
# Identfy the file location of the master dataset
I_data_path = './csv/clean_master_dummies_shorter.csv' 
I_Model_path = './3_4_2020/Short/128'

# Parameters
k = 4
num_epochs = 100
batch_Size = 128
Verbose = 0  #1 ó 0

# Types of Models (Possibilities: 1 to 6, you can choose how many you want e.g: [2,3,1,6])
NNTList = [1,2,3,4,5,6]  

# Function
train_data, train_targets, test_data, test_targets = NNTRegressor(I_data_path, I_Model_path, k, num_epochs, 
                                                                  batch_Size, Verbose, NNTList)

Loading the data...
Working dataset has: 67688 rows and 59 columns
Normalising...
save scaler to ./3_4_2020/Short/128temp/scaler.pickle
Completed
Spliting in train and test set
Saving training feature set to ./3_4_2020/Short/128temp/train_X.csv
Saving training labels to ./3_4_2020/Short/128temp/train_Y.csv
Saving test feature set to ./3_4_2020/Short/128temp/test_X.csv
Saving test labels to ./3_4_2020/Short/128/temp/test_Y.csv
Distributions of CANTIDADSALIDA
- Starting to train the model:
Model 1:
   Processing fold # 0

KeyError: 'mean_absolute_error'

In [ ]:
# Identfy the file location of the master dataset
I_data_path = './csv/clean_master_dummies_shorter.csv' 
I_Model_path = './3_5_2020/Short/16'

# Parameters
k = 4
num_epochs = 100
batch_Size = 16
Verbose = 0  #1 ó 0

# Types of Models (Possibilities: 1 to 6, you can choose how many you want e.g: [2,3,1,6])
NNTList = [1, 2, 3, 4, 5, 6]  

# Function
train_data, train_targets, test_data, test_targets = NNTRegressor(I_data_path, I_Model_path, k, num_epochs, 
                                                                  batch_Size, Verbose, NNTList)

## Medium:

In [ ]:
# Identfy the file location of the master dataset
I_data_path = './csv/clean_master_dummies_Medium.csv' 
I_Model_path = './3_4_2020/Medium/128'

# Parameters
k = 4
num_epochs = 100
batch_Size = 128
Verbose = 0  #1 ó 0

# Types of Models (Possibilities: 1 to 6, you can choose how many you want e.g: [2,3,1,6])
NNTList = [1,2,3,4,5,6]  

# Function
train_data, train_targets, test_data, test_targets = NNTRegressor(I_data_path, I_Model_path, k, num_epochs, 
                                                                  batch_Size, Verbose, NNTList)

## Big:

In [ ]:
# Identfy the file location of the master dataset
I_data_path = './csv/clean_master_dummies_Big.csv' 
I_Model_path = './3_4_2020/Big/128'

# Parameters
k = 4
num_epochs = 100
batch_Size = 128
Verbose = 0  #1 ó 0

# Types of Models (Possibilities: 1 to 6, you can choose how many you want e.g: [2,3,1,6])
NNTList = [1,2,3,4,5,6]  

# Function
train_data, train_targets, test_data, test_targets = NNTRegressor(I_data_path, I_Model_path, k, num_epochs, 
                                                                  batch_Size, Verbose, NNTList)