# Packages

In [38]:
import pandas as pd
import numpy as np
import os
import time
import folium

import keras

import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.ticker as ticker
from matplotlib.ticker import PercentFormatter

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [39]:
from lib_Map import plot_map

# Load data

In [40]:
Data_train = pd.read_excel("./csv/Modelo de Consumo Predictivo.xlsx", sheet_name = "Data")
Data_test = pd.read_excel("./csv/Modelo de Consumo Predictivo.xlsx", sheet_name = "Eval")

In [41]:
Data_train.columns

Index(['ID', 'ARTICULO', 'FECHA', 'CENTROCONSUMO', 'UBICACIONVIRTUAL',
       'ID_ORGANOGESTOR', 'DESC_PROVINCIA', 'FECHACADUCIDADEXISTENCIAS',
       'IMPORTESALIDA', 'CANTIDADSALIDA'],
      dtype='object')

In [42]:
Data_test.columns

Index(['ID', 'ARTICULO', 'FECHA', 'CENTROCONSUMO', 'UBICACIONVIRTUAL',
       'ID_ORGANOGESTOR', 'DESC_PROVINCIA', 'FECHACADUCIDADEXISTENCIAS',
       'IMPORTESALIDA'],
      dtype='object')

### Separación año mes y día:

In [43]:
Data_train['Año'] = [i.year for i in Data_train['FECHA']]
Data_train['Mes'] = [i.month for i in Data_train['FECHA']]
Data_train['Dia'] = [i.day for i in Data_train['FECHA']]

Data_test['Año'] = [i.year for i in Data_test['FECHA']]
Data_test['Mes'] = [i.month for i in Data_test['FECHA']]
Data_test['Dia'] = [i.day for i in Data_test['FECHA']]

In [44]:
Data_train.head()

,ID,ARTICULO,FECHA,CENTROCONSUMO,UBICACIONVIRTUAL,ID_ORGANOGESTOR,DESC_PROVINCIA,FECHACADUCIDADEXISTENCIAS,IMPORTESALIDA,CANTIDADSALIDA,Año,Mes,Dia
0,1,-1073438649,2008-01-01,17414,1525,3920000000000360380,Córdoba,NaT,0.5292,12.0,2008,1,1
1,2,-1073438649,2008-01-02,17414,1525,3920000000000360380,Córdoba,NaT,1.3230,30.0,2008,1,2
2,3,-1073438649,2008-01-02,17416,1527,3920000000000360380,Córdoba,NaT,-0.1323,-3.0,2008,1,2
3,4,-1073438649,2008-01-02,17416,1527,3920000000000360380,Córdoba,NaT,-0.1323,-3.0,2008,1,2
4,5,-1073438649,2008-01-02,17414,1525,3920000000000360380,Córdoba,NaT,0.1323,3.0,2008,1,2

In [62]:
Data_test.head()

,ARTICULO,CENTROCONSUMO,UBICACIONVIRTUAL,ID_ORGANOGESTOR,DESC_PROVINCIA,IMPORTESALIDA,Año,Mes
0,2147470713,106117,3601,2920000000000360365,Cádiz,0.109205,2016,1
1,2147470713,28828,10688,1920000000000360362,Almería,0.174720,2016,1
2,2147470713,10712,10688,1920000000000360362,Almería,0.131040,2016,1
3,2147470713,303577,23,8920000000000360360,Sevilla,0.064824,2016,1
4,2147470712,253277,41936,7920000000000360369,Málaga,0.054471,2016,1

In [65]:
Data_train['ARTICULO'].unique().tolist()

[-1073438649,
 2147471022,
 -1073449806,
 2147470713,
 740707990,
 740678214,
 -1073447348,
 -1073447118,
 -1073447433,
 2147471023,
 2147445339,
 2147470712,
 740708461,
 740728250,
 2147445228,
 740691669,
 -1073447461,
 740765237,
 742239260,
 2147471021]

In [66]:
for i in Data_test['ARTICULO'].unique().tolist():
    if i not in Data_train['ARTICULO'].unique().tolist():
        print(i)

742456300

## Data test y train mensuales:

###

In [45]:
del Data_train['ID'], Data_train['FECHA'], Data_train['FECHACADUCIDADEXISTENCIAS'], Data_train['Dia']
del Data_test['ID'], Data_test['FECHA'], Data_test['FECHACADUCIDADEXISTENCIAS'], Data_test['Dia']

In [46]:
ImporteSalidaSuma = (Data_train.groupby(('ARTICULO', 'CENTROCONSUMO', 'UBICACIONVIRTUAL', 'ID_ORGANOGESTOR', 'DESC_PROVINCIA', 'Año', 'Mes')) # Agrupar
          .IMPORTESALIDA    # Quedarse con la columna packet_length
          .apply(sum)       # Calcular su suma
          .reset_index())   # Deshacer índice jerárquico

C:\Users\victo\Anaconda3\envs\baseFSA\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  """Entry point for launching an IPython kernel.

In [47]:
CantidadSalidaSuma = (Data_train.groupby(('ARTICULO', 'CENTROCONSUMO', 'UBICACIONVIRTUAL', 'ID_ORGANOGESTOR', 'DESC_PROVINCIA', 'Año', 'Mes')) # Agrupar
          .CANTIDADSALIDA    # Quedarse con la columna packet_length
          .apply(sum)       # Calcular su suma
          .reset_index())   # Deshacer índice jerárquico

C:\Users\victo\Anaconda3\envs\baseFSA\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  """Entry point for launching an IPython kernel.

In [48]:
lista = ['ARTICULO', 'CENTROCONSUMO', 'UBICACIONVIRTUAL', 'ID_ORGANOGESTOR', 'DESC_PROVINCIA', 'Año', 'Mes']

In [49]:
Data_train_mensual = pd.merge(ImporteSalidaSuma, CantidadSalidaSuma,  how='inner', on= lista)

In [59]:
Data_train_mensual['IMPORTESALIDA_UNIDAD']= Data_train_mensual['CANTIDADSALIDA'] / Data_train_mensual['IMPORTESALIDA']

In [60]:
by_year_period = Data_train_mensual.sort_values(['Año', 'Mes', 'ARTICULO', 'CENTROCONSUMO' ])

In [68]:
Data_train.loc[Data_train['ARTICULO']==742456300]

Empty DataFrame
Columns: [ARTICULO, CENTROCONSUMO, UBICACIONVIRTUAL, ID_ORGANOGESTOR, DESC_PROVINCIA, IMPORTESALIDA, CANTIDADSALIDA, Año, Mes]
Index: []

# Map

In [9]:
coord_path = "./csv/listado-longitud-latitud-municipios-espana.xls"
TypeData = Data_train

### Total:

In [6]:
plot_map(coord_path, TypeData, Año = 'Total')

### Por años:

In [8]:
for Año in Data_train['Año'].unique().tolist():
    plot_map(coord_path, TypeData, Año)